<!-- homepage broadcast partial -->
<div class="modal fade" id="broadcastModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Choose a channel</h4>
      </div>
      <div class="modal-body">

<!-- socket.get('/channel/find',function(resp) { console.log(resp); }); -->

          <form class="form-inline text-center" role="form" action="/channel/create" method="post">
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Enter channel name" /><br>
            </div>
            <input type="submit" name="broadcaster" class="btn btn-primary btn-embossed btn-lg" value="Create"/>
          </form>

      </div>
    </div>
  </div>
</div>