<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container ">
      <p class="navbar-text navbar-right">NP Compete</p>
    </div>
  </nav>
</footer>
